@import '~vuetify/src/styles/styles.sass';

// theme background
.theme {
  &--light {
    .theme--light {
      &.v-tabs-items,
      &.v-sheet,
      &.v-stepper,
      &.v-list {
        //background-color: #fafafa;
      }
    }
  }

  &--dark {
    &.v-application {
      background-color: #1e1e1e;
    }
  }
}

#app {
  // vuetify 2.0.0 - remove tab background
  .v-tab:hover:before {
    opacity: 0;
  }

  // vuetify 2.0.2 fix
  .v-tabs-bar.v-tabs-bar--is-mobile:not(.v-tabs-bar--show-arrows)
    > .v-slide-group__wrapper
    > .v-tabs-bar__content
    > .v-tab:first-of-type {
    margin-left: 0;
  }

  // vuetify 2.4.x fix
  .row {
    margin: 0 -12px;
  }

  .layout {
    &:not(.run) {
      .v-main__wrap > .container {
        padding: 0 0 5rem;

        & > .row {
          margin-right: 0;
          margin-left: 0;
          max-width: 100%;

          & > .col-12 {
            padding: 0;
          }
        }
      }
    }
    &.tabs,
    &.leaderboard,
    &.grades {
      .v-main__wrap > .container {
        padding: 0;
      }
    }
  }

  .v-virtual-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-bottom: 5rem;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .run {
    .hand-container {
      position: relative;
    }
    .hand-text {
      display: none;
    }
    .hand {
      top: -50px;
      position: absolute;
      width: 100%;
      justify-content: space-between;
    }
    .left-hand,
    .right-hand {
      max-width: 50px;
    }
  }

  .v-stepper__content {
    padding: 0;
    .v-card__actions {
      padding: 8px 16px;
    }
  }

  // divider color
  .v-main .theme--light.v-divider {
    border-color: rgba(0, 0, 0, 0.08);
  }

  .v-slider__thumb-label-container {
    z-index: 1000;
  }
  /* global hangboard css */
  .hangboard {
    max-width: 500px;
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;

    .leftside,
    .rightside {
      box-sizing: border-box;
      flex: 0 0 50%;
      max-width: 50%;
      text-align: right;
    }

    .rightside {
      transform: rotateY(180deg);
    }
  }

  svg {
    &.h1 #h1,
    &.h2 #h2,
    &.h3 #h3,
    &.h4 #h4,
    &.h5 #h5,
    &.h6 #h6,
    &.h7 #h7,
    &.h8 #h8,
    &.h9 #h9,
    &.h10 #h10,
    &.h11 #h11,
    &.h12 #h12,
    &.h13 #h13,
    &.h14 #h14,
    &.h15 #h15,
    &.h16 #h16,
    &.h17 #h17,
    &.h18 #h18 {
      fill: #366d73;
    }
  }

  svg {
    &.f1 #f1,
    &.f2 #f2,
    &.f3 #f3,
    &.f4 #f4,
    &.f5 #f5 {
      visibility: hidden;
    }
  }

  // responsive image
  img {
    max-width: 100%;
    height: auto;
  }

  .v-toolbar {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    max-width: 100vw;
    flex-wrap: wrap;
    justify-content: center;

    //// show sloth
    .v-slide-group__wrapper {
      contain: inherit;
      overflow: visible;
    }

    ////sloth
    //.v-tabs-slider-wrapper .v-tabs-slider::after {
    //z-index: 999999;
    //background-image: url('~@/assets/icons/sloth.svg');
    //background-repeat: no-repeat;
    //content: '';
    //position: absolute;
    //bottom: -25px;
    //right: 10px;
    //height: 30px;
    //width: 30px;
    //}

    &__title {
      line-height: 1.25;
      margin-left: 13px;

      .subheading {
        font-size: 12px !important;
      }
    }

    // content full height
    &__content,
    &__extension {
      width: 100%;
      //// sm
      @media (min-width: 960px) {
        max-width: 900px;
      }
      @media (min-width: 1264px) {
        max-width: 1185px;
      }
      @media (min-width: 1904px) {
        max-width: 1785px;
      }
    }
  }
  // fix three-line height
  .v-list-item {
    .v-list-item__subtitle {
      .v-icon {
        line-height: 1.2;
      }
      max-width: 375px;
    }
  }

  // app title
  .hangtime {
    .v-toolbar__title {
      margin-left: 0;
      font-weight: 700;
    }
  }
  /* run + record templates */
  .canvas {
    margin: 0;
    &:not(.column) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 'Counter Hangboard' 'Counter Title';
      height: inherit;
      @media (min-width: 960px) {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }
    .Counter {
      grid-area: Counter;
    }

    .Hangboard {
      grid-area: Hangboard;
      width: 100%;
    }

    .Title {
      grid-area: Title;
    }
  }
  .v-card__title {
    word-break: break-word;
  }
}

.v-expansion-panel-header {
  min-height: 48px;
  padding: 6px 24px;
}

.v-expansion-panel--active > .v-expansion-panel-header {
  min-height: 48px;
  padding: 6px 24px;
}

div.required.v-input .v-label::after {
  content: ' *';
  color: darkred;
}

.bottom-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  > div {
    flex: 1 1 auto;

    span:last-child {
      padding-right: 8px;
      display: inline-block;
    }

    &:last-child span:last-child {
      padding-right: 0;
      display: inline-block;
    }

    svg {
      padding-right: 2px;
      height: 20px;
      width: 20px;
    }
  }
}

.progress-button {
  position: absolute;
  &.progress-previous {
    left: 32px;
  }
  &.progress-next {
    right: 32px;
  }
}

.lap .data {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0 8px;
}

// fix mobile data tables
.v-data-table--mobile {
  &.v-data-table > .v-data-table__wrapper > table {
    & > thead > tr:last-child > th:last-child {
      padding: 0;
    }
    & > tbody > tr > td,
    & > thead > tr > td,
    & > tfoot > tr > td {
      width: 100%;
    }
  }
}
