// theme background
.theme {
  &--light {
    .theme--light {
      &.v-tabs-items,
      &.v-sheet,
      &.v-stepper,
      &.v-list {
        //background-color: #fafafa;
      }
    }
  }

  &--dark {
    &.v-application {
      background-color: #1e1e1e;
    }
  }
}

#app {
  // vuetify 2.0.0 - remove tab background
  .v-tab:hover:before {
    opacity: 0;
  }

  // vuetify 2.0.2 fix
  .v-tabs-bar.v-tabs-bar--is-mobile:not(.v-tabs-bar--show-arrows)
    > .v-slide-group__wrapper
    > .v-tabs-bar__content
    > .v-tab:first-of-type {
    margin-left: 0;
  }

  .v-content__wrap > .container {
    padding: 0;
    & > .row {
      margin-right: 0;
      margin-left: 0;
      & > .col-12 {
        padding: 0;
      }
    }
  }

  // divider color
  .v-content .theme--light.v-divider {
    border-color: rgba(0, 0, 0, 0.08);
  }

  /* global hangboard css */
  .hangboard {
    max-width: 500px;
    .leftside,
    .rightside {
      display: inline-block;
      width: 50%;
      text-align: right;
    }
    .rightside {
      transform: rotateY(180deg);
    }
  }

  svg {
    &.h1 #h1,
    &.h2 #h2,
    &.h3 #h3,
    &.h4 #h4,
    &.h5 #h5,
    &.h6 #h6,
    &.h7 #h7,
    &.h8 #h8,
    &.h9 #h9,
    &.h10 #h10,
    &.h11 #h11,
    &.h12 #h12,
    &.h13 #h13,
    &.h14 #h14,
    &.h15 #h15,
    &.h16 #h16,
    &.h17 #h17,
    &.h18 #h18 {
      fill: #366d73;
    }
  }

  // responsive image
  img {
    max-width: 100%;
    height: auto;
  }

  .v-toolbar {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    max-width: 100vw;
    flex-wrap: wrap;
    justify-content: center;

    //// show sloth
    .v-slide-group__wrapper {
      contain: inherit;
      overflow: visible;
    }

    ////sloth
    //.v-tabs-slider-wrapper .v-tabs-slider::after {
    //z-index: 999999;
    //background-image: url('~@/assets/icons/sloth.svg');
    //background-repeat: no-repeat;
    //content: '';
    //position: absolute;
    //bottom: -25px;
    //right: 10px;
    //height: 30px;
    //width: 30px;
    //}

    &__title {
      line-height: 1.25;
      margin-left: 13px;

      .subheading {
        font-size: 12px !important;
      }
    }

    // content full height
    &__content,
    &__extension {
      width: 100%;
      //// sm
      @media (min-width: 960px) {
        max-width: 900px;
      }
      @media (min-width: 1264px) {
        max-width: 1185px;
      }
      @media (min-width: 1904px) {
        max-width: 1785px;
      }
    }
  }

  // fix three-line height
  .v-list-item .v-list-item__subtitle {
    .v-icon {
      line-height: 1.2;
    }

    max-width: 375px;
  }

  .tabs {
    .v-toolbar__title {
      margin-left: 0;
      font-weight: 700;
    }
  }
  /* run + record templates */
  .canvas {
    margin: 0;
    &:not(.column) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 'Counter Hangboard' 'Counter Title';
      height: inherit;
      @media (min-width: 960px) {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }
    .Counter {
      grid-area: Counter;
    }

    .Hangboard {
      grid-area: Hangboard;
      width: 100%;
    }

    .Title {
      grid-area: Title;
    }
  }
  .v-card__title {
    word-break: break-word;
  }
}
